<%- include('../partials/header') %>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th></th>
        <th>Departing Date</th>
        <th>Departing Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach((f) => { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= moment(f.departs).format('ddd') %> </td>
          <td><%= moment(f.departs).format('LL') %></td>
          <td><%= moment(f.departs).format('LT z') %></td>
          <td><a href="/flights/<%= f.id %>"><div class="button">Details</div></a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>